{% extends "base.html" %}

{% block title %}
  draw some lines!
{% endblock title %}

{% block content %}
  <div style="margin-bottom: 20px">
    <h4 onload="socketsss()"x>Move your mouse around to draw lines.</h4>
    <a href="/static/clicks_log" download><button>wanna grab a log of your lines?</button></a>
    <button id="clear">clear drawing</button>
  </div>
  <div id="clicks">
    <canvas id="cnvs" width="502" height="502" style="border: 1px solid black;"></canvas>
  </div>
{% endblock content %}

{% block scripts %}
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
  <script type="text/javascript" charset="utf-8">
    'use strict';
    
    document.addEventListener('DOMContentLoaded', function() {
      const socket  = io.connect('http://' + document.domain + ':' + location.port + '/draw');
      const canvas  = document.getElementById('cnvs');
      const ctx     = canvas.getContext('2d');
      const clear   = document.getElementById('clear');
      const colors = ['tomato', 'purple', 'blue', 'green', 'yellow', 'orange'];
      let xs = 0, ys = 0;

      clear.addEventListener('click', function(e) {
        console.log('clear!');
        socket.emit('clear drawing', { data: 'Clear clicked! '});
        window.location.reload();
      });

      const drawLines = function(x, y, color) {
        ctx.beginPath();
        ctx.moveTo(xs, ys);
        ctx.strokeStyle = color;
        ctx.lineTo(x, y, 2, 2);
        ctx.stroke();
        xs = x, ys = y;
      }
      
      const drawLog = function() {
        const data = {{ log_data|safe }};
        data.forEach(function(point) {
          const [x, y, color] = point.split(':');
          drawLines(+x, +y, color);
        });
      }

      const randomColor = function(max) {
        const i = Math.floor(Math.random() * Math.floor(max));
        return colors[i];
      }

      socket.on('connect', function() {
        console.log('are you still in?');
        const myColor = randomColor(6);
        socket.emit('drw', myColor);
        drawLog();
      });

      canvas.addEventListener('mousemove', function(e) {
        const x = e.x - canvas.offsetLeft;
        const y = e.y - canvas.offsetTop;
        socket.emit('draw', [x, y]);
      });

      socket.on('drawing', function(msg) {
        drawLines(msg.data[0], msg.data[1], msg.color);
      });
    });
  </script>
{% endblock scripts %}